nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: fixed;
  width: 100%;
  background-color: white;
  opacity: 80%;
}
.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-btn button {
  background-image: linear-gradient(
    to bottom right,
    #31d35c,
    hsl(192, 70%, 51%)
  );
  color: #fff;
  border: none;
  border-radius: 1rem;
  width: 11rem;
  height: 2.5rem;
}

.nav-links a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  border-radius: 1rem;
  color: hsl(233, 26%, 24%);
}

.nav-links span {
  padding-bottom: 1rem;
  transition: 0.2s ease;
  border-bottom: 4px solid #fff;
  border-radius: 3px;
}

.nav-links span:hover {
  border-bottom: 4px solid #31d35c;
  padding-bottom: 1rem;
}
