.one {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 5rem;
}

.one-right img {
  width: 30rem;
}

.one-left {
  display: flex;
  width: 30rem;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  flex-direction: column;
  gap: 1.5rem;
}

.one-left h1 {
  font-size: 50px;
}
.one-left p {
  font-size: 22px;
}
.one-left button {
  background-color: greenyellow;
  border: none;
  border-radius: 1rem;
  width: 11rem;
  height: 2.5rem;
}
